/* SOW VIKING SIDEBAR */
.tabs-wrapper{position: relative;}
.tabs-wrapper .headline{
  font-weight: bold;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  left: 20px;
}
.tabs-wrapper .shape {
  position: relative;
  height: 40px;
  width: 200px;
  background: #eff3f6;
}
.tabs-wrapper .shape:after {
  position: absolute;
  content: '';
  height: 0px;
  width: 0px;
  left: 200px;
  border-width: 20px 22px;
  border-style: solid;
  border-color: transparent transparent #eff3f6 #eff3f6;
}
.viking-sidebar{
  background-color: #eff3f6;
  padding-top: 20px;
  padding-bottom: 54px;
}
.viking-sidebar ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.viking-sidebar a{
  display: block;
  text-decoration: none;
}
.viking-sidebar span {
  color: #5b5f69;
  display:inline-block;
  vertical-align:middle;
  font-size: 14px;
}
.viking-sidebar .item{ margin-left: 10px;}
.viking-sidebar img {
  width: 100%;
  max-width:60px;
  padding: 10px;
  display:inline-block;
  vertical-align:middle;
}
/* SOW VIKING SIDEBAR */

/* Ovverride default BS3 styles */
.navbar { min-height: 80px; margin-bottom: 0;}

.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

/* Sticky menu */
.sticky-transparent-header {transition: 500ms ease;}
.sticky-transparent-header.affix{
  top: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  border-bottom: 1px solid #e6e6e6;
}
/* Sticky menu */

/* Ovverride font styles */
.navbar-default {
  background-color: #ffffff;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
}

/* Navbar brand */
.navbar-default .navbar-brand {color: #ffffff;}
/* Navbar brand */

/* Navbar links */
.navbar-default .navbar-nav > li > a {color: #6f7b8d; font-weight: bold; }
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #000000;
}
/* Navbar links */

/* Active link */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #000000;
  background-color: transparent;
}
/* Active link */

/* Dropdown Menu */
.navbar .dropdown-menu>li>a{
  color: #000000;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
  font-size: 12px;
}
.navbar .dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover{
  color: #ffffff;
  background-color: #68b2cb;
}
/* Highlight Parent Menu Item while Child Menu Item is active */
.navbar-nav>li.dropdown.current-menu-ancestor>a{ color: #000000; }
/* Highlight Parent Menu Item while Child Menu Item is active */

/* Active dropdown item */
.navbar .dropdown-menu>.active>a,
.navbar .dropdown-menu > .active > a:hover,
.navbar .dropdown-menu > .active > a:focus {
  color: #ffffff !important;
  background-color: #68b2cb;
}
/* Active dropdown item */

/* Dropdown Menu */

/* Hamburger */
.navbar-default .navbar-toggle {
  border-color: transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #000000;
  height: 4px;
}
/* Hamburger */
/* Header Right */
.header5 .header-right{
  padding: 12px 8px;
}
/* Get a quote */
.header5 .header-right .btn-quote{
  padding: 8px 24px;
  background-color: #68b2cb;
  color: #ffffff;
  border-radius: 20px;
  margin-right: 12px;
}
/* Get a quote */
.header5 .header-right .logo-one{width: 60px;}
.header5 .header-right .logo-two{width: 54px;}
/* Header Right */

/* VIDEO SLIDER SOW */
/* Arrows */
.slick-prev, .slick-next{
  line-height: 0;
  position: absolute;
  top: 50%;
  display: none !important;
  width: 20px;
  height: 20px;
  padding: 0;
  border-radius: 10px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
  color: transparent;
  outline: none;
  background: transparent;
}

.slick-prev:before,
.slick-next:before
{
  font-size: 40px;
  line-height: 10px;
  opacity: .75;
  color: #68b2cb;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
  left: -45px;
}
[dir='rtl'] .slick-prev
{
  right: -45px;
  left: auto;
}
.slick-prev:before
{
  font-family: "FontAwesome";
  content: "\f190";
}
[dir='rtl'] .slick-prev:before
{
  content: "\f190";
}

.slick-next
{
  right: -45px;
}
[dir='rtl'] .slick-next
{
  right: auto;
  left: -45px;
}
.slick-next:before
{
  font-family: "FontAwesome";
  content: "\f18e";
}
[dir='rtl'] .slick-next:before
{
  content: "\f18e";
}

.slick-dots
{
	position: absolute;
	bottom: -40px;
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
}
.slick-dots li
{
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0 2px;
	padding: 0;
	cursor: pointer;
}
.slick-dots li button
{
	font-size: 0;
	display: block;
	cursor: pointer;
	color: transparent;
	border: 0;
	outline: none;
	background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
	outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
	opacity: 1;
}
.slick-dots li button:before
{
  border-radius: 23px;
  font-size: 12px;
  font-weight: bold;
  line-height: 10px;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	opacity: .55;
	color: #68b2cb;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.slick-dots li button::before { font-family: "FontAwesome"; content: "\f10c"; }
.slick-dots li.slick-active button:before{opacity: .85;color: #68b2cb;background-color: #68b2cb;}
.slide .youtube-frame iframe{width:100%;border:none;}
/* Video Content */
.slide h5{color: #68b2cb;}
.slide p{ font-weight: lighter;}
/* Video Content */
.slick-slide{margin:0px 10px;}
/* VIDEO SLIDER SOW */

/* Ovverride default BS3 styles */
@media( min-width: 769px ){
  .header5 .navbar-collapse{padding: 0;}
  .header5 .container-fluid{ padding: 0;}
	.header5 .navbar-nav{
  	float: none;
  	text-align: center;
	}
	.header5 .nav > li {
		float: none;
		display: inline-block;
	}

  /* BS3 Nav Links */
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
  /* BS3 Nav Links */
  /* Dropdown Menu */
  .navbar-right .dropdown-menu{ left: 15px; }
  .navbar .dropdown-menu{ top:75%; padding: 0;min-width: 200px;}
  /* Dropdown Menu */
  /* Video Content */
  .slide h5{font-size: 19px;}
  .slick-prev, .slick-next{ display: inline-block !important;}
  /* Video Content */
}
@media only screen and (max-width: 768px) and (min-width: 768px){
  #bs-example-navbar-collapse-1,
  .navbar.header5 > .container-fluid{
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media(max-width: 768px){
  /* Active link */
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #68b2cb;
  }
  /* Active link */
  .navbar .dropdown-menu>li>a{ color: #6f7b8d;font-weight: bold !important; }
  .navbar-nav{ margin-top: 0; margin-bottom: 0;}
}
